<h2 mat-dialog-title>Benutzer-Status bearbeiten</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
        <div mat-dialog-content>
            <mat-form-field appearance="fill" *ngIf="loggedInUser.isAdmin()">
                <mat-label>Account Status</mat-label>
                <input matInput id="accountlevel" class="form-control" formControlName="accountlevel">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Abbrechen</button>
        <button mat-button type="submit" [disabled]="!form.valid">Speichern</button>
    </div>
</form>