<h2 mat-dialog-title>Benutzer bearbeiten</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Vorname</mat-label>
                <input matInput id="firstname" class="form-control" formControlName="firstname">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nachname</mat-label>
                <input matInput id="lastname" class="form-control" formControlName="lastname">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input matInput id="email" class="form-control" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="currentUser.isAdmin()">
                <mat-label>Account Status</mat-label>
                <input matInput id="accountlevel" class="form-control" formControlName="accountlevel">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Abbrechen</button>
        <button mat-button type="submit" [disabled]="!form.valid">Speichern</button>
    </div>
</form>