<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-title>
                <mat-card-subtitle>{{loggedInUser.accountLevel | accountLevelPipe}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                Nimmt aktuell an keinen Spiel teil.
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>Neues Spiel erstellen</mat-card-title>
                <mat-card-subtitle>Organisator {{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Wähle ein Modul</mat-label>
                    <mat-select disableRipple>
                        <mat-option value="1">Requirements Engineering</mat-option>
                        <mat-option value="2">Spezifikation</mat-option>
                        <mat-option value="3">Qualitätssicherung im Softwareprozess</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-stroked-button (click)="onCreateGame()">erstellen</button>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <mat-table [dataSource]="dataSource" style="width:calc(100% - 10px)">

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef> Nachname </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Aktion </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-stroked-button (click)="onJoinGame(element)">teilnehmen</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-grid-tile>
</mat-grid-list>