<mat-card>
    <h3 style="text-align: center">
        <b>Spieler X (10 Punkte) </b>
        spielt gegen
        <b>Spieler Y (0 Punkte)</b>
    </h3>
</mat-card>

<mat-card>
    <mat-card-title-group>
        <mat-card-subtitle>Frage x von y</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <h1>Wer war der 44. Präsident der USA?</h1>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title-group>
        <mat-card-subtitle>Antwort</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <div class="example-button-row">
            <button mat-stroked-button style="width: 100%">Donald Trump</button>
        </div>
        <div class="example-button-row">
            <button mat-stroked-button style="width: 100%">Barack Obama</button>
        </div>
        <div class="example-button-row">
            <button mat-stroked-button style="width: 100%">Richard Nixon</button>
        </div>
        <div class="example-button-row">
            <button mat-stroked-button style="width: 100%">George Bush</button>
        </div>
    </mat-card-content>
</mat-card>