<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <a class="navbar-brand" routerLink="home">educat.</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li routerLinkActive="active"><a routerLink="home">Home</a></li>
                        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="lobby">Lobby</a></li>
                        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="game">Game</a></li>
                        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="pool">Fragen Pool</a>
                        </li>
                        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="ranking">Rangliste</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li routerLinkActive="active"><a routerLink="faq"><span
                                    class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>
                        <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="login"><span
                                    class="glyphicon glyphicon-log-in"></span> Anmelden</a></li>
                        <li *ngIf="isAuthenticated"><a style="cursor: pointer;" (click)="onLogout()"><span
                                    class="glyphicon glyphicon-log-out"></span> Abmelden</a></li>
                        <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="register"><span
                                    class=""></span> Registrieren</a></li>
                        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="account"><span
                                    class="glyphicon glyphicon-user"></span> Profil</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>